### build
/build
/app/build
*.apk
*.ap_
.DS_Store
/captures
.externalNativeBuild

### ART VM
*.dex

### java
*.class

### IDEA
/.idea
*.iml

### Gradle
.gradle

### Local configuration file
/local.properties

### emacs
*~